In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
df=pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\code\datasets\protein.csv")

In [2]:
def check_null(df:pd.DataFrame):
    a=df.isna().sum()
    if a.sum()==0:
        return a.abs()
    else:
        return False

In [3]:
def replace(df:pd.DataFrame):
    'replaces null values with mean of other values'
    for i in df.columns:
        if (df[i].isna().sum()>0):
            grouped = df.groupby([i])
            df[i] = grouped[i].transform(lambda x: x.fillna(x.mean()))
    return df

In [4]:
def clean_null(df:pd.DataFrame):
    if (df.isna().sum()).sum()/df.count()[0]>0.1:
        return replace(df=df)
    else:
        return df.dropna(how='any',axis=0)

In [5]:
def discribe_df(df:pd.DataFrame):
    "returns df's discription and correlation"
    x = df.corr()
    y = df.describe()
    return x.iloc[:,-1],y

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45730 entries, 0 to 45729
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RMSD    45730 non-null  float64
 1   F1      45730 non-null  float64
 2   F2      45730 non-null  float64
 3   F3      45730 non-null  float64
 4   F4      45730 non-null  float64
 5   F5      45730 non-null  float64
 6   F6      45730 non-null  float64
 7   F7      45730 non-null  float64
 8   F8      45730 non-null  int64
 9   F9      45730 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 3.5 MB